body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding: 20px;
  background-color: black;
  color: white;
}

.header button {
  margin-left: 20px;
}

.messaging-app {
  max-width: 350px;
  margin: auto;
}

[class*='_isolated'] .messaging-app {
  margin-top: 50px;
}

.messaging-app [role='log'] {
  margin: auto;
  height: 300px;
  overflow-y: scroll;
  width: 300px;
  outline: 1px solid black;
  padding: 30px 10px;
}

.messaging-app [role='log'] hr {
  margin-top: 8px;
  margin-bottom: 8px;
}
